a {
	color: $black;
	text-decoration: none;

	&:visited {
		color: $black;
	}

	&:hover,
	&:focus,
	&:active {
		color: $blue;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
