$musky-green: #577768;
$atlantic: #155370;

$purple: #3D305B;
$blue: #2666CF;

$burnt-sienna: #E07A5F;
$naples-yellow: #F2CC8F;
$candy-yellow: #F7D408;
$milky-white: #F4F1DE;

$black: black;
$white: white;

$header: #124026

